BASE_URL=http://localhost:3000
API_URL=http://localhost:3000/api

DATABASE_URL=file:./dev.db

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your_nextauth_secret_here

HOME_PATHNAME=/dashboards/analytics
NEXT_PUBLIC_HOME_PATHNAME=/dashboards/analytics

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=cloud_name_cua_ban
CLOUDINARY_API_KEY=api_key_cua_ban
CLOUDINARY_API_SECRET=api_secret_cua_ban
CLOUDINARY_UPLOAD_FOLDER=shadboard/products
